.divisor-line {
  height: 1px;
  background-color: #eaeaea;
  margin: 5px 0px;
}

.login-box-body, .register-box-body {
  box-shadow: 0px 0px 10px -2px;
  border-radius: 2px;
}

.help-block {
  color: #ff0000;
}

.lockscreen-credentials {
    margin-left: 5px;
}

.reset-password-box {
  width: 500px;
  margin: 7% auto;
}

.lockscreen-item {
    box-shadow: 0px 0px 6px -2px;
}

.user-image-panel {
  background-color: #3c8dbc;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  text-align: center;
  padding: 10px 0px;
  box-shadow: 0px 0px 7px -2px #000;
}

.user-image-panel img {
  z-index: 5;
  height: 100px;
  width: 100px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,0.2);
}

.dataTables_empty {
  text-align: center;
}

.header-buttom {
  margin: 10px 0px;
}

@media screen and (max-width: 767px) {
  #datable_wrapper {
    overflow-x: auto;
  }
}
